* {
    margin: 0;
    padding: 0;
    border: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
article, figcaption, figure, footer, header, menu, section {
    display: block;
}
main	{
	margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}
.float-left	{
	float: left;
	margin-right: 10px;
}
.float-right	{
	float: right;
}

ul li   {
    margin-left: 25px;
    padding-left: 10px;
}
/* Media Queries */
@media all and (min-width: 320px) {
    #intro	{ 
        width: 100%;
        display: inline-block;
        background-color: #e5ffff;
    }
    #jobs	{
    	width: 100%;
        display: inline-block;
        background-color: #e5ffff;
    }
}
@media all and (min-width: 480px) {
    #intro	{
        width: 75%;
        float: left;
        background-color: #e5ffff;
    }
    #jobs	{
        width: 25%;
        float: right;
        background-color: #e5e5ff;
    }
    .img-left	{
    	float: left;
    	padding-right: 10px;
    }
}